{
  "jsc": {
    "target": "es2020",
    "parser": {
      "syntax": "typescript"
    },
    "paths": {
      "src/*": ["./src/*"]
    },
    "baseUrl": "."
  },
  "module": {
    "type": "commonjs"
  }
}
